/* Normalize ends */
.emoji {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-3);
}

time,
small {
  font-size: var(--fontSize-0);
}

a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.anchor,
.anchor:hover {
  font-style: italic;
  color: var(--color-text-primary);
  opacity: 0.7;
}

.anchor:hover {
  text-decoration: none;
}

.as-text,
.as-text:hover {
  color: var(--color-text-primary);
  text-decoration: none;
}

/* Header section */
.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-5) var(--spacing-3);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.global-header > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-8);
}

.global-header > div:last-child,
.blog-post > header {
  padding-bottom: var(--spacing-5);
}

.blog-post > header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
  font-size: var(--spacing-8);
  display: block;
  text-align: center;
}

.blog-posts-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blog-posts-wrapper .blog-post-card {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  margin-bottom: var(--spacing-6);
  box-sizing: border-box;
}

.blog-posts-wrapper .blog-post-card-cover {
  width: var(--maxWidth-full);
}

.blog-post-card a {
  display: block;
  text-decoration: none;
  color: var(--color-text-primary);
}

.blog-post-card .blog-post-card-cover img {
  width: var(--maxWidth-full);
  border-radius: var(--spacing-2);
}

.blog-post-card h1 {
  font-size: var(--fontSize-4);
  margin: var(--spacing-0);
  margin-bottom: var(--spacing-2);
}

.blog-post-card time {
  display: block;
  margin-bottom: var(--spacing-2);
}

.global-header > div:last-child nav {
  text-align: center;
  margin-bottom: var(--spacing-2);
}

.global-header > div:last-child a {
  margin-right: var(--spacing-4);
}

.global-header > div:last-child a:last-child {
  margin-right: var(--spacing-0);
}

/* Header section ends */
.shadow {
  -webkit-box-shadow: 0 0 10px rgb(104, 104, 104);
  -moz-box-shadow: 0 0 10px rgb(104, 104, 104);
  box-shadow: 0 0 10px rgb(104, 104, 104);
}

.author-image-regular {
  width: var(--spacing-16);
  border-radius: var(--spacing-8);
}

.author-name {
  font-weight: 600;
  margin-bottom: var(--spacing-2);
}

.author-name,
.published-date {
  display: block;
  text-align: center;
}

.published-date {
  margin-bottom: var(--spacing-8);
}

.segment > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: var(--spacing-0);
}

.has-border {
  border-bottom: var(--color-text-primary) 1px solid;
}

a.external {
  padding-right: var(--spacing-5);
  position: relative;
}

a.external::after {
  content: "";
  background-color: var(--color-text-secondary);
  position: absolute;
  top: 6px;
  right: var(--spacing-0);
  height: 3px;
  width: 12px;
  transform: rotate(315deg);
}

a.external::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 2px;
  right: var(--spacing-0);
  height: 8px;
  width: 8px;
  transform: rotate(270deg);
  border-right: var(--color-text-secondary) 3px solid;
  border-bottom: var(--color-text-secondary) 3px solid;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
  text-align: center;
}

footer ul li {
  display: inline;
  padding: var(--spacing-2);
}

@media (min-width: 42rem) {
  .global-header > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .global-header > div:last-child nav {
    margin-bottom: var(--spacing-0);
  }

  .blog-posts-wrapper .blog-post-card {
    width: 50%;
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    margin-bottom: var(--spacing-16);
  }
}
