---
layout: default

custom-javascript:
- /assets/js/imagesloaded.pkgd.min.js
- /assets/js/masonry.pkgd.min.js
- /assets/js/project-grid.js
---

<section class="hero-introduction gallery">
  <div class="hero-introduction__grid-container">
    <h1 class="hero-introduction__heading">{{ page.heading }}</h1>
  </div>
</section>

<section class="project-grid">
  <div class="project-grid__teaserlist">
    {% for project in site.data.photos %}
      <div class="project-grid__teaser">
        <a href="{{ project.full_img_src }}" title="Click to get full resolution">
          <div class="project-grid__image-zoom-container">
            <img src="{{ project.img_src }}" alt="{{ project.description }}"
              class="project-grid__image">
          </div>
        </a>
        <h3 class="project-grid__title"><a href="{{ project.url }}">{{ project.title }}</a></h3>
        <p class="project-grid__description_small">{{ project.description}}</p>
        <p class="project-grid__description_small">{{ project.location}}</p>
        <p class="project-grid__date">{{ project.year | date: "%Y" }}</p>
      </div>
    {% endfor %}
    <div class="project-grid__gutter-sizer"></div>
  </div>
</section>
