/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 64rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-4xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Inter", "Georgia", Cambria, "Times New Roman", Times,
    serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 1.9rem;
  --fontSize-6: 2rem;
  --fontSize-7: 2.1rem;

  --color-primary: #0000b5;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-bg: #fff;
  --color-theme-toggle: #000;

  --cookie-text: rgb(94, 101, 194);
  --cookie-bg: rgb(240, 237, 255);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: var(--color-bg);

  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark {
  --color-primary: #00ffff;
  --color-text: #fff;
  --color-text-light: #fff;
  --color-heading: #fff;
  --color-heading-black: #fff;
  --color-bg: #1a202c;
  --color-theme-toggle: #ffc600;
  --cookie-bg: rgb(103 103 104);
  --cookie-text: #fff;

  -webkit-transition: background-color 0.5s ease, color 0.5s ease,
    box-shadow 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease,
    box-shadow 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease,
    box-shadow 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.relative {
  position: relative;
}

.anchor {
  float: left;
  margin-left: -20px;
  line-height: 1;
}

.anchor svg {
  visibility: hidden;
}

.anchor:hover svg,
.anchor:focus svg {
  visibility: visible;
}

button {
  color: var(--color-primary);
  background-color: var(--color-bg);
  border-radius: var(--spacing-2);
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
  text-align: center;
}

footer ul li {
  display: inline;
  padding: var(--spacing-2);
}

hr {
  background: var(--color-primary);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-3);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

h2:hover > .anchor svg {
  visibility: visible;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-primary);
}

/* Link */

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.external {
  padding-right: var(--spacing-5);
  position: relative;
}

a.external::after {
  content: "";
  background-color: var(--color-primary);
  position: absolute;
  top: 6px;
  right: 0;
  height: 3px;
  width: 12px;
  transform: rotate(315deg);
}

a.external::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 2px;
  right: 0;
  height: 12px;
  width: 12px;
  transform: rotate(270deg);
  border-right: var(--color-primary) 3px solid;
  border-bottom: var(--color-primary) 3px solid;
}

/* Custom classes */

time,
small {
  font-size: var(--fontSize-0);
}

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.global-header > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-8);
}

.segment > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.has-border {
  border-bottom: var(--color-primary) 1px solid;
}

.global-header > div:last-child,
.blog-post > header {
  padding-bottom: var(--spacing-5);
}

.global-header > div:last-child nav {
  text-align: center;
  margin-bottom: var(--spacing-2);
}

.global-header > div:last-child a {
  margin-right: var(--spacing-4);
}

.global-header > div:last-child a:last-child {
  margin-right: 0;
}

a.active {
  font-weight: var(--fontWeight-bold);
}

.toggleMode {
  opacity: 0.65;
  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: opacity 0.3s ease 0s;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0px;
  appearance: none;
}

.toggleMode:hover,
.toggleMode:focus {
  opacity: 1;
}

.toggleMode div {
  pointer-events: none;

  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.45s ease 0s;
  -webkit-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  overflow: hidden;
  box-shadow: inset 8px -8px 0px 0px var(--color-theme-toggle);
}

.toggleMode[data-theme="dark"] div {
  border: 4px solid var(--color-theme-toggle);
  background-color: var(--color-theme-toggle);
  transform: scale(0.55);
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  -o-transform: scale(0.55);
  transition: all 0.45s ease 0s;
  overflow: visible;
  box-shadow: none;
}

.toggleMode[data-theme="dark"] div:before {
  content: "";
  position: absolute;
  right: -9px;
  top: -9px;
  height: 24px;
  width: 24px;
  border: 2px solid var(--color-theme-toggle);
  border-radius: 50%;
  transform: translate(14px, -14px);
  -webkit-transform: translate(14px, -14px);
  -moz-transform: translate(14px, -14px);
  -o-transform: translate(14px, -14px);
  opacity: 0;
  transition: transform 0.45s ease 0s;
}

.toggleMode[data-theme="dark"] div:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -4px 0px 0px -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -23px 0 var(--color-theme-toggle),
    0 23px 0 var(--color-theme-toggle), 23px 0 0 var(--color-theme-toggle),
    -23px 0 0 var(--color-theme-toggle), 15px 15px 0 var(--color-theme-toggle),
    -15px 15px 0 var(--color-theme-toggle),
    15px -15px 0 var(--color-theme-toggle),
    -15px -15px 0 var(--color-theme-toggle);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-3);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-2);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  color: var(--color-heading-black);
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.waving-hand {
  animation-duration: 1s;
  left: var(--spacing-2);
  position: absolute;
  animation-iteration-count: infinite;
  animation-name: waving;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(24deg);
  }
  60% {
    transform: rotate(36deg);
  }
  80% {
    transform: rotate(24deg);
  }
  90% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cookie-banner {
  display: flex;
  position: fixed;
  background-color: var(--cookie-bg);
  border-color: rgb(94, 101, 194);
  border-radius: var(--spacing-2);
  color: var(--cookie-text);
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  margin: 1em;
  padding: 1em;
  justify-content: space-between;
  flex-direction: column;
  row-gap: var(--spacing-2);
}

.cookie-banner button:first-child {
  margin-right: var(--spacing-2);
}

/* Media queries */
@media (min-width: 42rem) {
  .global-header > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .global-header > div:last-child nav {
    margin-bottom: 0;
  }
  .cookie-banner {
    flex-direction: row;
  }
  .cookie-banner span {
    max-width: 70%;
  }
}
@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
