<header class="global-header">
  <div>
    <h1 class="main-heading">
      <a href="/" class="as-text">Gurpreet Singh</a>
    </h1>
    <div>
      <button data-theme="light" class="toggleMode" name="switch theme"><div>toggle theme</div></button>
    </div>
  </div>
  <div class="has-border">
    <nav>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
    </nav>
    <nav>
      {% for links in socialLinks %}
        <a href="{{ links.link }}" rel="noreferrer" target="_blank">{{ links.label }}</a>
      {% endfor %}
      <a href="https://www.buymeacoffee.com/gsin" target="blank" rel="noreferrer"><strong>Buy me a <span role="img" aria-label="coffee">☕️</span></strong></a>
    </nav>
  </div>
</header>