<header class="global-header">
  <div>
    <h1 class="main-heading">
      <a href="/" class="as-text">Gurpreet Singh</a>
    </h1>
    <div>
      <button data-theme="light" class="toggleMode"><div></div></button>
    </div>
  </div>
  <div class="has-border">
    <nav>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
    </nav>
    <nav>
      {% for links in socialLinks %}
        <a href={{ links.link }}>{{ links.label }}</a>
      {% endfor %}
      <a href="https://www.buymeacoffee.com/gsin" target="blank"><strong>Buy me a <span role="img" aria-label="coffee">☕️</span></strong></a>
    </nav>
  </div>
</header>